.header{
    height: 34vw;
    margin: 30px auto;
    background:url('/header_img.png') no-repeat;
    background-size: contain;
    padding: 10px;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    bottom: 20px;
    left: 50px;
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(24px, 3.5vw);
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    padding: 10px 20px;
    background-color: white;
    color: #ff5722;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1vw;
    border-radius: 40px;
    cursor: pointer;
}