.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-menu h1{
    font-weight: 500;
}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-item: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-menu-list-item img{
    cursor: pointer;
}
.explore-menu-list p{
    margin-top: 10px;
    color: #555;
    font-size: max(1.2vw, 14px);
    cursor: pointer;
}