.food-display{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    margin: 10px;
}
.food-display h2{
    font-size: max(24px, 2.5vw);
    font-weight: 500;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

@media (max-width: 1200px) {
    .food-display-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .food-display-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .food-display-list{
        grid-template-columns: repeat(1, 1fr);
    }
}